@charset "utf-8";
/*--import css--*/
@import url(common.css);
header a.company-name {
	display: block;
	padding-top: 6px;
	padding-bottom: 5px;
}
header a.company-name:hover {
}
header .logo {
}
header .language-form {
	float: right;
	padding-top: 6px;
	padding-bottom: 5px;
}
header .language-form .language-btn {
	width: 25px;
	float: left;
	margin-left: 13px;
}
header .hotline {
	width: 100%;
	float: left;
}
header .hotline .hotline_img {
	width: 36px;
	float: right;
}
header .hotline .hotline_p {
	float: right;
	margin-top: 2px;
	margin-left: 5px;
	color: #666666;
}
header .hotline .hotline_p span {
	font-size: 20px;
	font-weight: bold;
	color: #bb3f3f;
}
#topmenu-warper {
	background: url(../img/menu_bg.jpg) repeat-x;
	min-height: inherit;
	border: none;
	border-radius: 0;
	margin-bottom: 25px;
	-webkit-box-shadow: 5px 0 10px 0px #666565;
	box-shadow: 5px 0 10px 0px #666565;
}
#topmenu-warper .navbar-header {
	padding-top: 3px;
	text-align: center;
}
#topmenu-warper .navbar-header a.collapsed {
	background: #ffffff;
}
#topmenu-warper .navbar-header a, #topmenu-warper .navbar-header a:hover {
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: none;
	background: #e5e5e5;
}
#topmenu ul {
	background: url(../img/menu_separate.jpg) left top no-repeat;
	padding-left: 2px;
}
#topmenu ul li {
	background: url(../img/menu_separate.jpg) right top no-repeat;
	padding-right: 2px;
}
#topmenu.in ul li a {
	background: url(../img/menu_bg.jpg) repeat-x;
}
#topmenu ul li.active a, #topmenu ul li.open a, #topmenu ul li:hover a {
	background: url(../img/menu_bg_active.jpg) left top repeat-x;
}
#topmenu ul li a {
	color: #ffffff;
	line-height: 40px;
	padding: 0 40px 0 40px;
	text-shadow: 0px 0px 5px #ffffff;
}
#topmenu ul li ul.dropdown-menu {
	background: url(../img/menu_separate.jpg) left top repeat-y;
	padding: 0;
	padding-left: 2px;
	border: none;
	border-radius: 0;
}
#topmenu ul li ul.dropdown-menu li {
}
#topmenu ul li ul.dropdown-menu li a {
	background: url(../img/menu_bg.jpg) repeat-x;
	padding-right: 0;
}
#topmenu ul li ul.dropdown-menu li a:hover {
	background: url(../img/menu_bg_active.jpg) repeat-x;
	padding-right: 0;
}
#content {
	margin-bottom: 10px;
}
#content .slider-wrapper {
}
#content .slider-wrapper .nivo-controlNav {
	padding: 13px 0px;
}
#content #slider {
	-webkit-box-shadow: 5px 5px 7px 1px #979797;
	box-shadow: 5px 5px 7px 1px #979797;
	margin-bottom: 0px;
}
#content .column-left {
}
#content .column-left .block {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	-webkit-box-shadow: 5px 5px 7px 1px #cccccc;
	box-shadow: 5px 5px 7px 1px #cccccc;
}
#content .column-left .block h4 {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: 500;
	line-height: 37px;
	float: left;
	padding-left: 17px;
	background: url(../img/block_header_bg.jpg) left top repeat-x;
	color: #bc3f3f;
}
#content .column-left .block .block-main {
	width: 100%;
	float: left;
	background: #ffffff;
	margin-bottom: 0px;
}
#content .column-left .video-block .video-block-main {
	padding-top: 10px;
	padding-bottom: 11px;
}
#content .column-left .linker-block ul.linker-block-main {
	padding-left: 0px;
	padding-bottom: 12px;
	list-style: none;
}
#content .column-left .linker-block ul.linker-block-main li {
	width: 100%;
	float: left;
	margin-top: 15px;
	text-align: center;
}
#content .column-left .linker-block ul.linker-block-main li a {
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	display: inline-block;
	position: relative;
	-webkit-box-shadow: 5px 5px 7px 1px #cccccc;
	box-shadow: 5px 5px 7px 1px #cccccc;
}
#content .column-left .linker-block ul.linker-block-main li span {
	width: 153px;
	height: 33px;
	float: left;
	padding-left: 7px;
	position: absolute;
	left: 0px;
	top: 44px;
	background: url(../img/linker_span_bg_2.png) left top no-repeat;
	text-align: left;
	line-height: 33px;
	color: #ffffff;
	text-shadow: 0px 0px 6px #3A3C39
}
#content .column-left .linker-block ul.linker-block-main li:first-child span {
	width: 154px;
	height: 33px;
	position: absolute;
	right: 5px;
	padding-right: 6px;
	padding-left: 0px;
	top: 44px;
	background: url(../img/linker_span_bg_1.png) right top no-repeat;
	float: left;
	text-align: right;
	line-height: 33px;
	color: #ffffff;
	left: initial;
	text-shadow: none;
}
#content .content-block {
	width: 100%;
	float: left;
	background: #ffffff;
	-webkit-box-shadow: 5px 5px 7px 1px #cccccc;
	box-shadow: 5px 5px 7px 1px #cccccc;
}
#content .content-block .content-block-bg {
	width: 100%;
	float: left;
	background: url(../img/content_block_bg.jpg) left top repeat-x;
}
#content .content-block .content-block-header {
	width: 100%;
	float: left;
	border-bottom: 2px solid #cccccc;
	margin-left: -1px;
	padding: 9px 13px 5px 20px;
}
#content .content-block .content-block-header h4 {
	float: left;
	margin: 0;
	margin-top: 1px;
	margin-bottom: 1px;
	border-left: 5px solid #4b85b2;
	padding-left: 9px;
	font-size: 16px;
	color: #bc3f3f;
	line-height: 24px;
}
#content .content-block .content-block-main {
	width: 100%;
	float: left;
	padding-top: 17px;
}
#content .main-content {
}
#content .main-content .main-content-header {
}
#content .main-content .main-content-header h4 {
}
#content .main-content .main-content-header .detail-btn {
	width: 72px;
	float: right;
}
#content .main-content .main-content-main {
	padding-left: 21px;
	padding-right: 31px;
}
#content .main-content .main-content-main p {
	color: #333333;
	margin-bottom: 12px;
}
#content .main-content .main-content-main .main-content-main-p-1 {
	width: 100%;
	float: left;
}
#content .main-content .main-content-main .main-content-main-p-1 p {
	width: 100%;
	float: left;
	margin-bottom: 12px;
}
#content .main-content .main-content-main .main-content-main-img {
	width: 219px;
	float: right;
	margin-left: 30px;
	margin-right: -12px;
	margin-top: 19px;
	margin-bottom: 12px;
	transform: rotate(8deg);
	-ms-transform: rotate(8deg);
	-webkit-transform: rotate(8deg);
}
#content .main-content .main-content-main .main-content-main-p-2 {
	width: 100%;
	float: left;
	margin-top: 5px;
}
#content .main-content .main-content-main .main-content-main-p-2 p {
	width: 100%;
	float: left;
}
#content .main-content .main-content-main .main-content-main-p-2 p span {
	background: url(../img/main_content_main_p_2_prefix_img.png) left center no-repeat;
	padding-left: 16px;
	color: #4b85b2;
	font-weight: bold;
}
#content .gallery-block {
	margin-top: 20px;
}
#content .gallery-block .gallery-block-header .detail-btn {
	width: 72px;
	float: right;
}
#content .gallery-block .gallery-block-main {
	padding-top: 2px;
	padding-bottom: 22px;
}
#content .gallery-block .gallery-block-main .gallery-block-main-img-warper {
	margin-top: 32px;
	float: left;
	text-align: center;
}
#content .gallery-block .gallery-block-main .gallery-block-main-img {
	/*float: left;*/
	background-color: #cccccc;
	display: inline-block;
	transform: rotate(-6deg);
	-ms-transform: rotate(-6deg); /* IE 9 */
	-webkit-transform: rotate(-6deg); /* Opera, Chrome, and Safari */
}
#content .gallery-block .gallery-block-main .gallery-block-main-img img {
	border: 5px solid #ffffff;
	transform: rotate(6deg);
	-ms-transform: rotate(6deg); /* IE 9 */
	-webkit-transform: rotate(6deg); /* Opera, Chrome, and Safari */
	-webkit-box-shadow: 1px 1px 5px 1px #cccccc;
	box-shadow: 1px 1px 5px 1px #cccccc;
}
#support-warper {
	background-color: #cccccc;
	margin-bottom: 18px;
	padding-bottom: 8px;
}
#support-warper .support-block {
	width: 100%;
	float: left;
	background-color: #ffffff;
	margin-top: 8px;
	padding-top: 18px;
	padding-bottom: 12px;
	border-radius: 4px;
}
#support-warper .support-block-1 {
}
#support-warper .support-block-2 {
}
#support-warper .support-block .support-block-p {
}
#support-warper .support-block-p .support-block-p-1 {
	width: 100%;
	float: left;
	margin-bottom: 12px;
	color: #4b85b2;
	font-weight: bold;
}
#support-warper .support-block-p .support-block-p-2 {
	width: 100%;
	float: left;
	margin-bottom: 0px;
	font-size: 16px;
	color: #bc3f3f;
	font-weight: 200;
}
#support-warper .support-block .support-block-yahoo {
	text-align: center;
}
#support-warper .support-block .support-block-skype {
	text-align: center;
}
ul#bottommenu {
	float: left;
	padding: 0px;
	list-style: none;
	margin-bottom: 8px;
}
ul#bottommenu li {
	background: url(../img/bottom_menu_separate.jpg) center left no-repeat;
	float: left;
}
ul#bottommenu li:first-child {
	background-image: none;
}
ul#bottommenu li a {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	color: #666666;
}
ul#bottommenu li:first-child a {
	padding-left: 10px;
}
#footer-warper {
	background: #4b85b2;
}
#footer-warper p {
	margin-bottom: 0px;
	padding: 11px 0px 16px 0px;
	line-height: 15px;
	letter-spacing: 0.1px;
}

@media (max-width: 767px) {
header a.company-name {
	text-align: center;
}
#topmenu-warper .navbar-header a {
	display: inline-block;
}
ul#bottommenu li {
	width: 50%;
	background: none;
	text-align: center;
}
ul#bottommenu li a {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
ul#bottommenu li:first-child a {
	padding-left: 0px;
}
}

@media (min-width: 768px) and (max-width: 992px) {
#topmenu ul li a {
	padding: 0 20px 0 20px;
}
}

@media (min-width: 992px) and (max-width: 1200px) {
#topmenu ul li a {
	padding: 0 20px 0 20px;
}
}

@media (min-width: 1200px) {
}
