.content{
	background-color: #a0a0a0;
	margin: auto;
	width: 980px;
	padding: 60px 15px 10px 25px;
	height: auto;
}
.font{
	float: right;
	background-color: white;
	height: 25px;
	margin-top: -59px;
	margin-right: -14px;
}
.font > a{
	float: left;
	width: 30px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}
.font > a i {
    color: #0e0e0e;
}
.font > a:first-child{
				background-color: white;
			}
			.font > a:hover{
				background-color: #f6f6f6;
				margin-bottom: -10px;
				height: 25px;
				line-height: 25px;
				 transition: all 275ms ease-in-out 0s;
			}
	.main-content{
		background-color: #ffffff;
	}
 		.content-header{
 			height: 196px;
 			background-color: #f2f2f2;
		}
			.content-header > a{
				float: left;
				width: 20%;
				height: 100%;
				line-height: 240px;
				text-align: center;
				cursor: pointer;
			}
			.content-header > a:first-child{
				background-color: #505050;
			}
			.content-header > a:hover{
				background-color: white;
				margin-top: -10px;
				height: 206px;
				line-height: 260px;
				 transition: all 275ms ease-in-out 0s;
			}
		.content-body{
			overflow: auto;
			margin-top: 40px;
			height: auto;
			font-family:'poiret One', cursive, serif;
			vertical-align: middle;
		}
			.content-body > div{
				float: left;
			}
			.content-body > div:first-child{
				width: 60%;
			}
			.content-body > div:nth-child(2){
				width: 40%;
			}
				.content-body > div > div{
					margin-left: 40px;
				}
			.content-body .title{
				font-size: 20px;
				color: #00001f;
				font-weight: bold;
				clear: both;

			}

			.content-body .career-item{
				margin-top: 30px;
				clear: both;
			}
			}
				.content-body .career-item .col{
					float: left;
				}
				.content-body .career-item .dislay{
					display: inline;
					margin-top: 30px;
				}
				.content-body .career-item .logo{
					position: relative;
					left: 120px;
					top: -58px;
					z-index: 100;
					width: 40px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					border-radius: 25px;
					border: 5px solid #eeeeee;
					background-color: white;
					z-index: 100;
					margin-top: 107px;
				}
				.content-body .career-item .datetime{
					color: #2a0000;
					font-weight: bold;
					margin-right: 38px;
					clear: both;
					font-size: 17px;
					width: 120px;
				}
				.content-body .career-item .description{
					width: 343px;
					padding-left: 55px;
					border-left: 5px solid #eeeeee;
					float: right;
					clear: both;
					margin-top: -132px;
					padding-bottom: 30px;
				}
				.content-body .career-item .heading{
					line-height: 40px;
					height: 40px;
					border-bottom: 1px solid #d9d9d9;
					background: #f6f6f6;
				}
				.content-body .career-item .heading > div:first-child{
					float: left;
					color: #2a0000;
					font-size: 17px;
					font-weight: bold;
				}
				.content-body .career-item .heading > div:nth-child(2){
					float: right;
					color: #838585;
				}
				.content-body .career-item .description-content{
					background: #f6f6f6;
					border-radius: 4px;
					line-height: 1.8;
					font-size: 14px;
					padding-top: 5px;
				}
			.content-body .skill-item{
				margin-top: 40px;
			}	
				.content-body .skill-item .title{
					display: inline;
					margin-left: 5px;
					font-size: 17px;
				}
				.content-body .skill-item .heading{
					line-height: 40px;
					height: 40px;
					font-size: 17px;
					float: left;
					clear: both;
					width: 80%;
					border-bottom: 1px solid #d9d9d9;
				}
				.content-body .skill-item .program{
					float: left;
					margin-top: 10px;
					clear: both;
					display: inline;
					margin-bottom: 30px;
					width: 100%;
				}
				.content-body .skill-item .program .col-program{
					float: left;
					color: #2a0000;
					width: 40%;
					font-weight: bold;
					margin-right: 50px;
					clear: both;
					font-size: 13px;
					margin-top: 5px;
					margin-bottom: 5px;
					display: inline;
				}
				.content-body .skill-item .program .col-level{
					float: left;
					margin-top: -18px;
					margin-left: 140px;
					width: 40%;
				}
				.content-body .skill-item .program .col-level .radius-level{
					position: relative;
					float: left;
					z-index: 100;
					width: 12px;
					height: 12px;
					line-height: 10px;
					text-align: center;
					border-radius: 12px;
					background-color: black;
					display: inline;
					margin-left: 5px;
				}
				.content-body .skill-item .program .col-level .radius-level-emty{
					position: relative;
					float: left;
					z-index: 100;
					width: 12px;
					height: 12px;
					line-height: 10px;
					text-align: center;
					border-radius: 12px;
					background-color:#f6f6f6;
					display: inline;
					margin-left: 5px;
				}
				.content-body .skill-item .program .graphic{
					width: 80%;
					height: 30px;
					background-color: #f6f6f6;
					margin-bottom: 5px;
					border-radius: 5px;
					font-size: 12px;
					color: white;
				}

				
				.content-body .skill-item .program .graphic-odd{
					background-color: #505050;
					float: left;
					position: relative;
					border-radius: 5px;
					cursor: no-drop;
					 transition: all 275ms ease-in-out 0s;
				}

				.content-body .skill-item .program .graphic-odd:hover{
					background-color: #a0a0a0;
				}

				.content-body .skill-item .program .graphic-even{
					background-color: #303030;
					position: relative;
					float: left;
					cursor: no-drop;
					border-radius: 5px;
					 transition: all 275ms ease-in-out 0s;
				}
				.content-body .skill-item .program .graphic-even:hover{
					background-color: #a0a0a0;
				}


				
				.content-contact{
					overflow: auto;
					margin-top: 40px;
					height: auto;
					font-family:'poiret One', cursive, serif;
					vertical-align: middle;
					border-top: 1px solid #eeeeee;
					border-bottom: 1px solid #eeeeee;
					border-left: 1px solid #eeeeee;
					border-right: 1px solid #eeeeee;
		}
			.content-contact > div{
				float: left;
			}
			.content-contact > div:first-child{
				width: 60%;
			}
			.content-contact > div:nth-child(2){
				width: 40%;
			}
				.content-contact > div > div{
					margin-left: 40px;
				}
				
				.content-contact .inquiry-content{
					margin-top: 40px;
					clear: both;
					height: auto;

				}
				.inquiry-content .pheptinh{
					float: left;
					margin-right: 20px;
				}
				.content-contact .inquiry-content .form-contact{
					float: left;
					width: 100%;
					height: 30px;
					clear: both;
					margin-bottom: 20px;
					font-family: 'poiret One', cursive, serif;
				}
				.content-contact .inquiry-content .input-number{
					float: left;
					width: 70px;
					height: 30px;
					display: inline;
					margin-right: 30px;
					font-family: 'poiret One', cursive, serif;
				}
				.content-contact .inquiry-content .submit{
					background-color: black;
					color: white;
					height: 40px;
					margin-top: 40px;
					float: left;
					border-radius: 5px;
					clear: both;
					font-family: 'poiret One', cursive, serif;
				}
				.content-contact .inquiry-content .submit:hover{
					background-color: #a0a0a0;
					 transition: all 275ms ease-in-out 0s;
				}
				.content-contact  .button{
					background-color: black;
					color: white;
					width: 70px;
					height: 40px;
					margin-top: 40px;
					float: right;
					border-radius: 5px;
					font-family: 'poiret One', cursive, serif;
					display: none;
				}
				.content-contact  .button:hover{
					background-color: #a0a0a0;
					 transition: all 275ms ease-in-out 0s;
				}
				.content-contact .required{
					color: red;
				}

				.content-contact  .ct-address{
					font-size: 17px;
					float: left;
					clear: both;
					margin-top: 30px;
				}
				.content-contact  .ct-address a   {
					border-radius: 4px;
					background-color: black;
					color: white;
					cursor: pointer;
					text-decoration: none;
					font-size: 12px;
					padding-left: 15px;
					padding-right: 15px;
					padding-top: 5px;
					padding-bottom: 5px;
					float: left;
				}
				.content-contact .ct-address a:hover{
					background-color: #a0a0a0;
					 transition: all 275ms ease-in-out 0s;
				}

