.connect{
	background-color: #fff;
	height: 25px;
	float:right;
;
}
.cell{
	height: 200px;
	float: left;

	line-height: 200px;
	text-align: center;
}
.home{
	background-color: #2c3e50;
	color: white;

}
.user{
	background-color: #3498db;
	color: white;
}
.suitcase{ /*tag suitcase*/
	background: none repeat scroll 0 0 #2980b9;
	color: white;
}
.resume{ /*the resume*/
    background: none repeat scroll 0 0 white;
    color: #34495e !important;
}
.email{ /* The email*/
    background: none repeat scroll 0 0 #2c3e50;
    color: white;
}
/*
heading;*/
.heading{
	font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.career-content{
	width: 452px;
}
.career-item {
    width: 100%;
}
 .career-item:first-child {
    margin-top: 30px;
}
.career-content > div {
    float: left;
}
.content .career-item > div {
    float: left;
}
.datetime {
    margin-right: 35px;
}

 .career-item > div {
    float: left;
}

.description {
    float: right;
    border-left: 5px solid #eeeeee;
    padding-bottom: 30px;
    padding-left: 35px;
    width: 400px; /*295px*/
}
.description .heading {
    border-bottom: 2px solid #d9d9d9;
    height: 40px;
    line-height: 40px;
}

 .heading .des-head-left {
    float: left;
    font-size: 18px;
    text-transform: none;
}
.heading .des-head-right {
    color: #85807b;
    float: right;
    font-size: 15px;
}
 .skill .des{ /*  my skill*/

	border-bottom: thin groove #3498db;
	font-size: 20px;
	font-weight: bold;
	width: 300px;
	margin-top: 25px;
	margin-bottom: 20px;
	
}

.skill .bar{
	float: left;
	height: 25px;
    width: 300px;
	color: #fff;
	padding-left: 5px;
	border-radius: 5px;
	margin-bottom: 2px;
	margin-top: 2px;
	background-color: #fafafa;

}
.skill .bar .bar-right{
    float: left;
    height: 100%;
    background-color: #f2f2f2;

}
.skill .bar .bar-left{
    float: left;
    height: 100%;
    border-radius:5px;
    background-color: #3498db;

}
.skill .bar .circle-invi{
    float: right;
    height: 12px;
    width: 10px;
    border-radius: 100%;
    padding-left: 5px;
    margin-left: 3px;
    background-color: #f2f2f2;  
}
.skill .bar .circle-vi{
    float: right;
    height: 12px;
    width: 10px;
    border-radius: 100%;
    padding-left: 5px;
    margin-left: 3px;
    background-color: #3498db;  
}
.icon{
    color: #3498db;
    background-color: #3498db;
    font-size: 200%;
}
.contact{ /* dung de add fom inquiry */
    width: 100%;
    height: 700px;

}
.left{
    float: left;
    width: 60%;
    height: 700px;

}
.left .in{ /*  input*/
    float: left;
    height: 40px;
    width: 520px;
    margin-right: 40px;
    border: 1px solid #ddd;
    font-size: 15;
    margin-bottom: 15px;

}
.submit{
    height: 30px;
    width: 70px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    margin-top: 30px;
 
}
.so{
    height: 30px;
    width: 70px;
    margin-right: 20px; 
    margin-left: 20px;
    text-align: center;

}

 #so1{
    height: 30px;
    width: 70px;
    margin-right: 20px; 
    margin-left: 20px;

}
 #so2{
    height: 30px;
    width: 70px;
    margin-right: 20px; 
    margin-left: 20px;

}
#kq-so{
    height: 30px;
    width: 70px;
    margin-right: 20px; 
    margin-left: 20px;

}
 #error-kqso{
    height: 30px;
    width: 520px;
    font-size: 13px;
    float: left;
    color: #0099FF;
}
#error-name{
    height: 30px;
    width: 520px;
    font-size: 13px;
    float: left;
    color: #0099FF;
}
#error-company{
    height: 30px;
    width: 520px;
    font-size: 13px;
    float: left;
    color: #0099FF;
}
 #error-email{
    height: 30px;
    width: 520px;
    font-size: 13px;
    float: left;
    color: #0099FF;
}
 #error-sms{
    height: 30px;
    width: 520px;
    font-size: 13px;
    float: left;
    color: #0099FF;
}
.right{
    float: right;
    width: 35%;
    height: 700px;

}
.right .email{
    float: left;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    text-align: center;
}